<!-- Take :
* d: a list d with length lenD containing file names 
* d_short: a list d with length lenD containing SHORT file names
* lenD: length of D
* Sel: the selected file (-1 for none)
* msg: a message to display
For forms the returned dic is {name: value}
-->
<style> 
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:  #111; /* Black #0086B3; /**/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 
</style>

 <!-- Side navigation -->
<div class="sidenav">

<form method=post enctype=multipart/form-data>
<!--
<p style="color:white;">Room:</p>
<input type="text">

<p style="color:white;">Password:<br>
<input type="password">
-->
<h3 style="color: #818181">Upload File</h3>
      <input type=file name=file>
      <input type=submit name="Upload" value="Upload">
<h3 style="color: #818181">Choose a File</h3>


{% for i in range(lenD)%} 
<!--
<label style="min-width:10cm;color:white;">
{{d[i]}} 
</label>
</br>
-->
<input type="submit" name="bt" id="bt{{i}}" value="{{i+1}}_{{d_short[i]}}">
<br>
{% endfor%}


    </form>

</div>

<!-- Page content -->
<div class="main">
{{msg}}
<img src="{{d[sel]}}" alt="No file chosen" width="100%" height="100%">
</div> 
